
.card_image {
  max-height: 250px;
  margin-top: -24px;
}
.card_image img {
  width: 100%;
  max-width: 800px;
  height: 100%;
  object-fit: cover;
}
.card_image:after {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  position: relative;
  top: -100px;
  background: linear-gradient(0deg, #091014 10%, rgba(0, 0, 0, 0) 100%);
}

.card {
  background-color: #091014;
  border-radius: 1.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
    height: 360px;
}

.card_content {
  padding: 1rem;
  z-index: 1;
  display: block;
}

.card_title {
  /* font-family: "Lobster", cursive; */
  font-size: 35px;
  line-height: 40px;
  margin-top: -50px;
  margin-bottom: 24px;
  text-shadow: black 1px 0 15px;
  color: white;
}

.card_text {
  color: #DDDACB;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  margin-top: 20px;
}
.card_text p {
  max-width: 700px;
}



#item_fig .card:after {
  content: "Seasonal";
  font-family: "Raleway", sans-serif;
  color: rgba(234, 225, 175, 0.8);
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  width: 10ch;
  height: 1.5em;
  padding: 0.2em 0.4em;
  position: relative;
  bottom: calc(100% - 2.5em);
  left: 1em;
}

.ourActivities{
  margin-top: 80px;
}